<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lavana">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lavana_logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".backgroundSplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".myBookDetailActivity" />
        <activity android:name=".bookingSummaryActivity" />
        <activity android:name=".selectMyCourtActivity" />
        <activity android:name=".createCourt" />
        <activity android:name=".paymentActivity" />
        <activity android:name=".pacNumberActivity" />
        <activity android:name=".paymentSuccessful" />
        <activity
            android:name=".trainingClassRegisterActivity"
            android:parentActivityName=".trainingClassCoachActivity" />
        <activity
            android:name=".trainingClassCoachActivity"
            android:parentActivityName=".memberTrainingSelectTime" />
        <activity android:name=".memberTrainingSelectTime" />
        <activity android:name=".adminConCoachSelectedActivity" />
        <activity
            android:name=".adminAddCoachActivity"
            android:parentActivityName=".adminSelectCoachActivity" />
        <activity
            android:name=".adminSelectCoachActivity"
            android:parentActivityName=".adminChangeCoachActivity" />
        <activity
            android:name=".adminChangeCoachActivity"
            android:parentActivityName=".adminSelectTimeActivity" />
        <activity android:name=".adminSelectTimeActivity" />
        <activity
            android:name=".changeProfilePicActivity"
            android:parentActivityName=".accountSettingActivity" />
        <activity android:name=".resetPassActivity" />
        <activity
            android:name=".forgotPassActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".changePassActivity"
            android:parentActivityName=".accountSettingActivity" />
        <activity
            android:name=".accountSettingActivity"
            android:parentActivityName=".drawerActivity" />
        <activity android:name=".registerActivity" />
        <activity
            android:name=".drawerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>